body{
background-color: white;
font-size:1.2em;
}

.sabha{
color: red;
text-align:center;
font-size:70px;
text-shadow:3px 3px 3px black;
}


#myheader{
height:240px;
}

#sabha{
position:absolute;
top:160px;
width:100%;
z-index:10;
}

.navbar-brand{
font-size:80px;
color:white;
text-shadow:3px 3px 3px black;
font-wieght:bold;
/*font-family:cursive;*/

}
.mooter{
background: url("/static/images/banner.jpg");
font-size:20px;
height:35px;
color:white;
text-shadow:3px 3px 3px black;
font-wieght:bold;
}
.mooter a{
color:white;
}
.navbar{
font-size:20px;
color:white;
font-wieght:bold;
}

