<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-SABHA</title>
<link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<header id="myheader">
    <img class="w-100 h-100" src="/static/images/banner.jpg"/>
<div id="sabha">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EthicalHat Cyber Security</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/social/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/social/about">About</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="/social/contact">Contact</a>
      </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="/social/mypost/">My Post</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/social/myprofile/">Profile</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
      </li>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/accounts/login">LogIn</a>
      </li>
    {% endif %}
     {% if user.is_superuser%}
        <li class="">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
        {%else%}
        {%if user.is_authenticated%}
        <li class="nav-item">
        <a class="nav-link" href="/social/profile/edit/{{ user.myprofile.id }}">Edit Profile</a>
      </li>
                {%endif%}
        {%endif%}
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
<!--    <h1>E-SABHA</h1>-->
</div>
</header>

{% block content %}
{% endblock %}
<footer class ="mooter text-center p1 h-100">
<div class="row">
    <div class="col-sm-6">
        <p>Toll Free No</p>
        <p>1800888888</p>
    </div>
    <div class="col-sm-6">
<h2>Social Media</h2>
<!--<hr>-->
<a href="#"><span class="fa fa-facebook fa-2x mx-2"></span> </a>
<a href="#"><span class="fa fa-twitter fa-2x mx-2"></span> </a>
<a href="#"><span class="fa fa-youtube fa-2x mx-2"></span> </a>
<a href="#"><span class="fa fa-instagram fa-2x mx-2"></span> </a>


    </div>
</div>
    <p>copyright @ e-sabha</p>
</footer>
</body>
</html>